/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* grid header area */
.main_header{
    margin-bottom:70px;
}
.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #2D25A0;
}
.banner img{
    width: 100%;
}

.header-title{
   
    text-align: left;
    margin-left: 50px;
   
}
.header-title h1{
    color: white;
    font-size: 64px;
    width: 90%;
    font-weight: 700;
    
}
.btn{
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #E02C6D;

}
.fa-arrow-right{
    font-size: 16px;
    margin-left: 5px;
}

/* player area */
.player_area{
    margin-bottom: 120px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
width: 330px;
height: 474px;

box-shadow: 10px 10px 30px gray;
}

.player img{
    width: 300px;
    height: 256px;
    padding: 14px 15px;
}
.player h2{
padding-left: 13px;
font-size: 28px;
font-weight: 700;
color: #18191F;
}
.player p{
    width: 95%;
    padding-left: 13px;
    font-size: 16px;
    color: #6C6C6C;
}

.player_area{
    display: flex;
    justify-content: center;
}

/* Matc Highlights Area */
.Match_Highlights{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}
.Highlights{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.match_detail{
    width: 469px;
    height: 309px;
    margin-left: 30px;
}

.match_detail h1{
    font-size: 48px;
    font-weight: 700;
    
}
.match_detail p{
    width: 83%;
    margin-bottom: 30px;
}

.match_image img{
    width: 567px;
    height: 427px;
}

/* product galare */





.boxx-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.heading_first{
    
    text-align: center;
}
.heading_first span{
    color: brown;
}

.boxx{
    height:20rem;
    width:30rem;
    margin:2rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.boxx img{
    height:340px;
    width:240px;
}

.boxx h3{
    position: absolute;
    top:100%; left:50%;
    transform: translate(-50%, -50%);
    color:#fff;
    text-align: center;
    font-size: 3rem;
    opacity: 0;
}

.boxx:hover h3{
    top:50%;
    opacity: 1;
    transition-delay: .2s;
}

.boxx::before{
    content: '';
    position: absolute;
    top:-100%; left:0;
    height:100%;
    width: 100%;
    background:rgba(0,0,0,.7);
    transition:.2s linear;
}

.boxx:hover::before{
    top:0;
}





/* footer area */

.footer_img img{
    width: 483px;
    height: 110px;
}
.footer{
    display: flex;
    justify-content: center;
}
.social_icon{
display: flex;
justify-content: center;

}
.social_icon img{
    width: 32px;
    height: 32px;
    margin-left: 10px;
}

.copywrite p{
    display: flex;
    justify-content: center;
}




/* responsive mobile device */
    @media only screen and (max-width:688px){
        
        .header,.players{
            grid-template-columns: repeat(1, 1fr);
        }
        .Match_Highlights{
            display: none;
        }
        .footer_img{
            max-width: 10%;
        }
       
    }

